body{
    background-color: var(--branco);
    
}
input{
    border-radius: 5px;
    width: 30vw;
    height: 3vw;
    border: 1px solid var(--borda);

}
.cabecalho{
    background-color: var(--fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    border-radius: 15px;
    height: 20vh;
    padding: 20px;
}
.texto{
    color: var(--branco);
}
.formulario{
    height: 35vh;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    font-weight: 600;
    
}
.direito{
    font-size: 20px;
    border-radius: 40px;
}
.esquerdo{
    font-size: 20px;
}
.texto-aviso{
    font-weight: 300;
    font-size: 0.8rem;
}
.botoes{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.botao-entrar{
    background-color: var(--fundo);
    color: var(--amarelo);
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 1.1rem;
}
.voltar{
    color: black;
}